.black-alphabet-project h2{
  color: var(--fiery-rose);
}

.black-alphabet {
  /* margin: 80px 0px; */
  /* border: solid 3px var(--fiery-rose);     */
  align-items: top;
  display: grid;
  grid-template-columns: 1fr 1fr;       
}

.black-alphabet h2{    
  /* justify-self: right; */
  margin-bottom: 50px;
}

.black-alphabet a:hover{
  transition: 0.2s ease-in-out;
  opacity: 50%;
  /* transform: translate(20px, 0px); */
}

.black-alphabet img{
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.black-alphabet-img-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

  /* -------------------------------------------- */
/* MOBILE STYLES */

@media only screen and (max-width: 600px) {
  .black-alphabet-img-container{
    padding: 0;
  }

  .black-alphabet {
    /* margin: 80px 0px; */
    /* border: solid 3px var(--fiery-rose);     */
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;       
  }

  /* .black-alphabet-img-container{
    display: flex;
    width: 100vw;
    align-items: start;
    margin: 0;
  }

  .black-alphabet-img-container img{
    margin: -45px;
  } */
}