  .brown-paper-bags-project h2{
    color: var(--celadon-blue)
  }
  
  .brown-paper-bags {
    /* margin: 80px 0px; */
    /* border: solid 3px var(--fiery-rose);     */
    align-items: center;       
  }

  .brown-paper-bags h2{    
    justify-self: right;
    margin-bottom: 50px;
  }

  .brown-paper-bags a:hover{
    transition: 0.2s ease-in-out;
    opacity: 50%;
    transform: translate(20px, 0px);
  }

  .brown-paper-bags img{
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }

  .bpb-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
  }

    /* -------------------------------------------- */
  /* MOBILE STYLES */

  @media only screen and (max-width: 600px) {
    .bpb-img-container{
      padding: 0;
    }

    /* .bpb-img-container{
      display: flex;
      width: 100vw;
      align-items: start;
      margin: 0;
    }

    .bpb-img-container img{
      margin: -45px;
    } */
  }