 /* FOOTER STYLES vvvvvvvvvvvvvvvvvvvvvvvvvv  */



 footer {
    text-align: center;
    margin-top: 150px;
  }
  
  footer ul{
    padding-top: -15px;
  }
  footer ul li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    
  }
  
  footer ul li img{
    width: 20px;
    height: auto;
    margin-top: 30px;
  }
  
  footer h2 {
    font-size: 22px;
    margin-bottom: 25px;
    width: 100%;
    color:var(--persian-indigo);
  }
  
  .right-alignment {
    text-align: right;
  }
  
  
  
  .footer a{
    margin-bottom: 30px;
  }

.footer-icons{
    display: inline;
    position: relative;    
}


  .scroll-to-top {
    display: flex;
    width:100vw;
    height:auto;
    justify-content: flex-end;
    position: fixed;   
    z-index: 99;
    bottom: 30px;
    right: 0;
    text-decoration: none;  
  }

  .scroll-to-top-btn {      
    color: var(--white);
    background-color: var(--persian-indigo);
    width: fit-content;
    height:auto;        
    padding: 1em 2em;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    text-decoration: none;   
  }

  .scroll-to-top-btn:hover {
    background-color: var(--portfolio-purple);
  }
 /* MOBILE STYLES  */
  @media only screen and (max-width: 600px) {
    .scroll-to-top a{      
      background-color: var(--white);
    }
  }