/* portfolio purple: #6E53A1 */
/* darker purple: #382B50 */
/* lighter purple: #D5BFFF */

@media only screen and (max-width: 480px) {
  body {
    width: 100%;
  }

}


body {
  /* font-family: 'Noto Sans Display', sans-serif; */
  /* font-family: 'Dela Gothic One', cursive; */
  /* font-family: 'Poller One', cursive; */
  font-family: Inconsolata, sans-serif;
  font-size: 15px;
  color: #382B50;
}

body, ul {
  margin: 0;
  padding: 0;
}

h1, h2, .skillslist {
  font-family: 'Bakbak One', sans-serif;
  /* font-family: AerojonesNF, sans-serif; */
}

.services-about {
  font-family: 'Noto Sans Display', sans-serif;
  font-weight: bold;
}

.skillslist-intro {
  font-family: Inconsolata, sans-serif;
}

img {
  max-width: 100%;
}

.intro-img {
  background-color: none;
  /* box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.2);*/
  margin-top: 100px;
  transform: scale(1.5em);
  transition: 1.0s ease-in-out;
}

.intro-img:hover{
  transform: translate(0px, -20%);
  cursor: pointer;
  /*transform: rotate(360deg)*/;
 -webkit-animation-name: thumb;
    -webkit-animation-duration: 1000ms;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite; /* The magic keyword for infinite*/
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes thumb {
    0% { -webkit-transform: rotate(50deg), transform: translate(0px, -20%); }
    50% { -webkit-transform: rotate(-25deg); }
    100% { -webkit-transform: rotate(50deg), transform: translate(0px, 20%); }
}




nav {
  background-color: #382B50;
  position: fixed;
  z-index: 10;
  width: 100%;
}

li.empty {
  width: 50px;
  border-top: 0.5px solid #D5BFFF;
  top: -5px;
  position: relative;
}


nav li a {
  text-decoration: none;
  color: #D5BFFF;
  transition: 0.3 ease-in-out;
}

nav li a:hover {
  text-decoration: underline;
  color: white;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
  /*refers to 0 top/bottm and 15px left/right */
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}

nav ul {
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}

header {
  top: 70px;
  position: relative;
  margin-bottom: 220px;
  background-image: url('../img/header-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -145px;
}






h1 {
  font-size: 100px;
  line-height: 130px;
}

h2 {
  font-size: 30px;
  line-height: 130%;
  margin-top: 5px;
}

h1, h2 {
  font-weight: normal;
}

ul li {
  list-style: none;
}

p {
  line-height: 150%;
}

.button {
  border: 1px solid #6E53A1;
  text-decoration: none;
  color: #382B50;
  margin-top: 30px;
  display: inline-block;
  border-radius: 20px;
  padding: 10px 30px;
  transition: background 0.5s ease-in-out;
  color: background 0.5s ease-in-out;
}

.button:hover {
  background: #6E53A1;
  color: white;
}

figcaption {
  font-size: 10px;
  margin-top: 10px;
}

.skills-list {
  text-align: center;
  font-size: 40px;
  line-height: 150%;
  margin-bottom: 50px;
}

.skills-globe {
  transform: scale(1.1);
  margin-top: 100px;
  margin-bottom: 70px;
}

.project {
  margin: 70px 0px;
  padding: 20px;
}

.blue {
  background-color: #D5BFFF;
}

.project .button {
  margin: 10px;
}

li.divider {
  width: 100%;
  border-top: 2px solid #D5BFFF;
  top: -5px;
  position: relative;
  margin-bottom: 200px;
}

.portfolio-start{
  margin-top: 80px;
}

/*.portfolio-pgs-graphics{
transition: 100ms ease-in-out;
}

.portfolio-pgs-graphics:hover{
  transform: scale(1.2);  
  cursor: pointer;
}*/

.fade img:hover{
  transform: none;
}

/*image hover styles for graphics portfolio*/
  .contain {
    position: relative;    
      }

  .image {
    /*display: block*/;
    width: 100%;
    height: auto;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #382B50;
  }

  .contain:hover .overlay {
    opacity: 1;
    cursor: pointer;    
  }

  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }


#myBtn{
text-decoration: none;
}

/* The Modal (background) */
  .graphics-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/*Styles for modal*/
  /* Modal Content */
  .graphics-modal-content {
    background-color: #382B50;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  * {box-sizing:border-box}

  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

/*styles for gallery*/
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* Caption text */
  /*.text {
    color: whitesmoke;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    text-shadow: 2px;
  }*/

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #382B50;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


div div.resume{
  margin-top: 80px;
  text-align: center;
}

footer {
  text-align: center;
  margin-top: 100px;
}

footer h2 {
  font-size: 30px;
  margin-bottom: 50px;
  width: 100%;
}

.right-alignment {
  text-align: right;
}

a.email-me {
  text-decoration: underline;
  color: #382B50;
  transition: 0.3 ease-in-out;
}

a.email-me:hover {
  text-decoration: none;
  color: #D5BFFF;
  background-color: #382B50;
}


.slide-container{
  width: 640px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;  
  text-align: center;
  margin-top: 80px;
  overflow: hidden;
}




  .image-container {
  width: 27000px;
  height:  500px;
  position: relative;
  transition: left 2s;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  margin-top:  80px;
}



.slider-image{
  float: left;
  margin: 0px;
  padding: 0;
  text-align: center;
}

.button-container{
  position: relative;
  margin: 0;
  text-align: center;
  margin-left: auto;
}

.slider-button {
  display: inline-block;
  height:  20px;
  width: 20px;
  border-radius: 20px;
  background-color: #382B50;
  
}

.slider-button-tide {
  display: inline-block;
  height:  25px;
  width: 25px;
  border-radius: 25px;
  background-color: rgba(107, 200, 192, 1.0);
  
}

.slider-button-slat {
  display: inline-block;
  height:  25px;
  width: 25px;
  border-radius: 25px;
  background-color: rgba(231, 154, 40, 1.0);
  
}

.slider-button-volv {
  display: inline-block;
  height:  25px;
  width: 25px;
  border-radius: 25px;
  background-color: rgba(87, 79, 162, 1.0);
  
}

.slider-button-klense {
  display: inline-block;
  height:  25px;
  width: 25px;
  border-radius: 25px;
  background-color: rgba(165, 205, 67, 1.0);
  
}

.slider-button-tilt {
  display: inline-block;
  height:  25px;
  width: 25px;
  border-radius: 25px;
  background-color: rgba(230, 32, 81, 1.0);
  
}


#slider-image-01:target ~ .image-container{
  left: 0px;
  }

#slider-image-02:target ~ .image-container{
  left: -1090px;
}
#slider-image-03:target ~ .image-container{
  left: -2160px;
}
#slider-image-04:target ~ .image-container{
  left: -3240px;
}
#slider-image-05:target ~ .image-container{
  left: -4320px;
}
#slider-image-06:target ~ .image-container{
  left: -5400px;
}
#slider-image-07:target ~ .image-container{
  left: -6480px;
}
#slider-image-08:target ~ .image-container{
  left: -7560px;
}
#slider-image-09:target ~ .image-container{
  left: -8640px;
}
#slider-image-010:target ~ .image-container{
  left: -9720px;
}
#slider-image-011:target ~ .image-container{
  left: -10800px;
}
#slider-image-012:target ~ .image-container{
  left: -11880px;
}
#slider-image-013:target ~ .image-container{
  left: -12960px;
}
#slider-image-014:target ~ .image-container{
  left: -14040px;
}
#slider-image-015:target ~ .image-container{
  left: -15120px;
}
#slider-image-016:target ~ .image-container{
  left: -16200px;
}
#slider-image-017:target ~ .image-container{
  left: -17280px;
}
#slider-image-018:target ~ .image-container{
  left: -18360px;
}
#slider-image-019:target ~ .image-container{
  left: -19440px;
}
#slider-image-020:target ~ .image-container{
  left: -20520px;
}
#slider-image-021:target ~ .image-container{
  left: -21600px;
}
#slider-image-022:target ~ .image-container{
  left: -22680px;
}
#slider-image-023:target ~ .image-container{
  left: -23760px;
}
#slider-image-024:target ~ .image-container{
  left: -24840px;
}
#slider-image-025:target ~ .image-container{
  left: -25920px;
}