@import "brown-paper-bags-styles.css";
@import "enneagram-styles.css";
@import "reservoir-styles.css";
@import "relic-styles.css";

:root{
--palatinate-blue: #3F2BDA;
 --portfolio-purple: #6E53A1;
 --darker-purple: #382B50;
 --darker-purple-opacity: hsla(262, 23%, 30%, 0.76);
 --lighter-purple: #D5BFFF;
 --languid-lavender: #DCCDE8;
 --fiery-rose: #f45b69;
 --fiery-rose-opacity: #f45b68a1;
 --celadon-blue: #0081A7;
 --celadon-blue-opacity: #0080a7a7;
 --gold-crayola: #EFC88B;
 --lime-green: #6BD425;
 --dark-sea-green: #7FB285;
 --mantis: #7DC95E;
 --atomic-tangerine: #F49D6E;
 --atomic-tangerine-opacity: #f49d6e6c;
 --black: #252525;
 --black-8e: #25252536;
 --no-opacity: #ffffff00;
 --white: #fff;
 
}




body {
  /* font-family: 'Noto Sans Display', sans-serif; */
  /* font-family: 'Dela Gothic One', cursive; */
  /* font-family: 'Poller One', cursive; */
  font-family: Inconsolata, sans-serif;
  font-size: 15px;
  color: var(--darker-purple);
  background-color: var(--white);
  
}

.body-body-visual-design{
  background-color: var(--atomic-tangerine-opacity);
}

.body-body-web-design{
  background-color: var(--atomic-tangerine);
}

body, ul {
  margin: 0;
  padding: 0;
  
}

.welcome-message{
  color: var(--white);
   /* filter: blur(4px);
  -webkit-filter: blur(4px); */

}

h1, h2, .skillslist {
  font-family: 'Bakbak One', sans-serif;
  /* font-family: AerojonesNF, sans-serif; */
}

.services-about {
  font-family: 'Noto Sans Display', sans-serif;
  font-weight: bold;
}

.skillslist-intro{
  margin-bottom: 30px;
}

.skillslist-intro, h3 {
  font-family: Inconsolata, sans-serif;
}

.skillslist-intro-title{
  color: var(--darker-purple);
  font-size: 20px;
}

.skillslist-intro-title a{
  color: var(--darker-purple)
}

img {
  max-width: 100%;
}


.intro-img {
  background-color: none;
  /* box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.2);*/
  margin-top: 100px;
  transform: scale(1.5em);
  transition: 1.0s ease-in-out;
}

.intro-img:hover{
  transform: translate(0px, -20%);
  cursor: pointer;
  /*transform: rotate(360deg)*/;
  -webkit-animation-name: thumb;
  -webkit-animation-duration: 1000ms;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: infinite; /* The magic keyword for infinite*/
  -webkit-animation-timing-function: linear;
}

div .intro ul li img{
  /* width: ; */
  height: auto;
}

div .intro{
margin: 300px 0px;
}

@-webkit-keyframes thumb {
    0% { -webkit-transform: rotate(50deg), translate(0px, -20%); }
    50% { -webkit-transform: rotate(-25deg); }
    100% { -webkit-transform: rotate(50deg), translate(0px, 20%); }
}




nav {
  background-color: var(--darker-purple);
  position: fixed;
  z-index: 10;
  width: 100%;
  height: fit-content;
  overflow: none;
  box-shadow: 0px 2px 10px var(--darker-purple);
}

.nav-visual-design{
  background-color: var(--atomic-tangerine);
  color: var(--darker-purple);
  transition: 0.2s ease-in-out;
}

.nav-visual-design li a{
  color: var(--white);
}

.nav-web-design{
background-color: var(--celadon-blue);
transition: 0.2s ease-in-out;
}

.nav-web-design li a{
  color: var(--white);
}

.nav-illustration{
  background-color: var(--fiery-rose);
  transition: 0.2s ease-in-out;
}

.nav-illustration li a{
  color: var(--white);
}

li.empty {
  width: 50px;
  border-top: 0.5px solid var(--languid-lavender);
  top: -5px;
  position: relative;
}


nav li a {
  text-decoration: none;
  color: var(--languid-lavender);
  transition: 0.3 ease-in-out;
}

nav li a:hover {
  text-decoration: underline;
  color: var(--white);
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
  /*refers to 0 top/bottm and 15px left/right */
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}

nav ul {
  margin: 0 auto;
  text-align: center;
  padding: 15px 0px;
}

.consultation{

}


header {
  top: 60px;
  position: relative;
  margin-bottom: 220px;  
  background:
        linear-gradient(var(--fiery-rose), transparent),
        linear-gradient(to top left, var(--lime-green), transparent),
        linear-gradient(to top right, var(--celadon-blue), transparent);
        background-blend-mode: screen;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position-y: -145px; */
  /* background-image: url(../img/header-bg-01.jpg); */
  height: 115vh;
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
}

/* b{
  font-size: 20px;
} */


h1 {
  font-size: 100px;
  line-height: 130px;
}

h2 {
  font-size: 30px;
  line-height: 130%;
  margin-top: 5px;
}

h1, h2 {
  font-weight: normal;
}

ul li {
  list-style: none;
}

p {
  line-height: 150%;
}

.button {
  border: 1px solid var(--darker-purple);
  text-decoration: none;
  color: var(--darker-purple);
  margin-top: 30px;
  display: inline-block;
  border-radius: 20px;
  padding: 10px 30px;
  transition: background 0.5s ease-in-out;
  color: background 0.5s ease-in-out;
}

.button:hover {
  background: var(--darker-purple);
  color: var(--white);
  border: none;
}

figcaption {
  font-size: 10px;
  margin-top: 10px;
}

.email-me{
   margin: 20px 0px 30px;
   color: var(--white);
   padding: 10px 20px;
   border-radius: 20pt;
   background: var(--fiery-rose);
    background: -moz-linear-gradient(45deg, var(--fiery-rose) 0%, var(--celadon-blue) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, var(--fiery-rose)), color-stop(100%, var(--celadon-blue)));
    background: -webkit-linear-gradient(45deg, var(--fiery-rose) 0%, var(--celadon-blue) 100%);
    background: -o-linear-gradient(45deg, var(--fiery-rose) 0%, var(--celadon-blue) 100%);
    background: -ms-linear-gradient(45deg, var(--fiery-rose) 0%, var(--celadon-blue) 100%);
    background: linear-gradient(45deg, var(--fiery-rose) 0%, var(--celadon-blue) 100%);
    background-size: 400% 400%;
    -webkit-animation: errorBg 55s ease infinite;
    -moz-animation: errorBg 55s ease infinite;
    animation: errorBg 55s ease infinite;
    height: 100vh;
    transition: 0.3s ease-in-out;
    text-decoration: none;
}

@-webkit-keyframes errorBg {
    0% {
        background-position: 93% 0%
    }
    50% {
        background-position: 0% 100%
    }
    100% {
        background-position: 93% 0%
    }
}

@-moz-keyframes errorBg {
    0% {
        background-position: 93% 0%
    }
    50% {
        background-position: 0% 100%
    }
    100% {
        background-position: 93% 0%
    }
}

@keyframes errorBg {
    0% {
        background-position: 93% 0%
    }
    50% {
        background-position: 0% 100%
    }
    100% {
        background-position: 93% 0%
    }
}

.email-me:hover{
  background: var(--white);
  color: var(--darker-purple);
  border: solid 1px var(--darker-purple);
  transition: 0.3s ease-in-out;
}

 /*-----------------------------------------dispenser!!!!--------------------       */
.noShow{
  display: none;
}      
.left{
   position: relative;
   max-width: 100%;
   width:  50%;
   height: 100%;
   top: 0;
   left: 0px;
   margin:  0 auto;
   text-align: center;
   -webkit-animation-name: slideUp;
    -webkit-animation-duration: 1000ms;
    -webkit-transform-origin:50% 50%;
    /* -webkit-animation-iteration-count: infinite;  The magic keyword for infinite */
    -webkit-animation-timing-function: linear;
   
 }

.left img{
  position: relative;
   max-width: 100%;
   transition: 100ms ease-in-out;     
 }

 .dispenser-img{
  padding-left: 20px;
 }
  

 .left img:hover{
   transform: scale(1.2);
       cursor: pointer;
       
     }

@keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

 /*  .slideUp {
  animation-name: slideUp;
  animation-duration: 1s;
   position: relative;
   max-width: 100%;
   width:  50%;
   height: 100%;
   top: 0;
   left: 0px;
   margin:  0 auto;
   text-align: center;
  
}*/
           
/***************************** right side (dispenser capsules)**********************************/
  .right{
     position: relative;
     max-width:  100%;
     width:  50%;
     height:  100%;
     top:  0px;
     right:  0px;
     margin: 0 auto;
     display: flex;
     flex-wrap: wrap;
     text-align: center;
      -webkit-animation-name: capsules;
    -webkit-animation-duration: 500ms;
    -webkit-transform-origin:50% 50%;
    /*-webkit-animation-iteration-count: infinite;*/  /*The magic keyword for infinite*/
    -webkit-animation-timing-function: linear;
    }
     @keyframes capsules {
      0% {
    opacity: 0;
    -webkit-transform: translateX(-30%);
    ;
    } 
     100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    
    }
  }



  .right img{
      position: relative;
      max-width: 50%;
      transition: 100ms ease-in-out;

              }

 .right img:hover{
    transform: scale(1.2);
       cursor: pointer;
       -webkit-animation-name: thumb;
       -webkit-animation-duration: 1000ms;
      -webkit-transform-origin:50% 50%;
      -webkit-animation-iteration-count: infinite; /* The magic keyword for infinite*/
       -webkit-animation-timing-function: linear;
                 
          }

   @keyframes thumb {
     0% { -webkit-transform: rotate(50deg), translate(0px, -20%); }
     50% { -webkit-transform: rotate(-25deg); }
     100% { -webkit-transform: rotate(50deg), translate(0px, 20%); }
              }

    .all-capsules img{
     display:  none;
   }







/*<--------------------------- skills dispenser end ------------------------------->*/

.profile-pic{
  border-radius: 50%;
  border: 6px solid var(--darker-purple);
}

.intro div{
  margin-bottom:0;
}

.intro-bio{
  margin-top:0;
  color: var(--darker-purple);
}

.intro-bio div{
  text-align: justify;
}

.intro-bio-content{
  flex-wrap:wrap;
  padding: 0px 32px;
  margin: 30px 0;
}

.intro-bio-opening{
  font-size: 2em;
  font-weight: bolder;
  text-align: justify;
  padding-bottom: 30px;  
}

.intro-bio-message{
  font-size: 1.5em;
}

.intro-bio-quirks{
  font-size: 1.2em;
  flex-wrap:wrap;
  padding: 0px 32px;
  margin-top: 30px;
}

.section-img{
  width: 500px;
  display: flex;
  margin: 60px 300px;
  position:absolute;
 
  z-index: 5;
  -webkit-animation-name: floaty;
  -webkit-animation-duration: 3000ms;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: infinite; /* The magic keyword for infinite*/
  -webkit-animation-timing-function: linear;

       
}
@keyframes floaty {
  0% { -webkit-transform: scale(0.9)  }
  50% { -webkit-transform: scale(1) }
  100% { -webkit-transform: scale(0.9)  }
           }

 .visual-design-bg{
  background-image: url(../img/visual-design-closed.png);
  background-size: 200px;
  background-position: center center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: var(--atomic-tangerine-opacity);
  background-blend-mode: soft-light;
  background-clip:border-box;
  width: 100%;
  /* height: auto; */
  height: 500px;
  transition: 0.5s ease-in-out;
  border-radius: 20px;
  opacity: 0.5;
}

.web-design-bg{
  background-image: url(../img/web-design-closed.png);
  background-size: 200px;
  background-position: center center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: var(--celadon-blue-opacity);
  background-blend-mode: soft-light;
  width: 100%;
  /* height: auto; */
  height: 500px;
  transition: 0.5s ease-in-out;
  border-radius: 20px;
  opacity: 0.5;
}

.illustration-bg{
  background-image: url(../img/illustration-closed.png);
  background-size: 200px;
  background-position: center center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: var(--fiery-rose-opacity);
  background-blend-mode:soft-light;
  width: 100%;
  /* height: auto; */
  height: 500px;
  transition: 0.5s ease-in-out;
  border-radius: 20px;
  opacity: 0.5;
}   


.skills-list {
  text-align: center;
  font-size: 40px;
  line-height: 150%;
  margin-bottom: 50px;
}

.skills-globe {
  transform: scale(1.1);
  margin-top: 100px;
  margin-bottom: 70px;
}

.project {
  margin: 70px 0px;
  padding: 20px;
}

.blue {
  background-color: var(--languid-lavender);
}

.project .button {
  margin: 10px;
}

li.divider {
  width: 100%;
  border-top: 2px solid var(--languid-lavender);
  top: -5px;
  position: relative;
  margin-bottom: 200px;
}


/*--------------------------PORTFOLIO START------------------------------*/

/* ---------------------------------VISUAL DESING SECTION STARTS  */

.work-section-container {
  display: flex;
  flex-direction: column;
}

.work-section {
  margin-top: 150px;
}

.portfolio-start{
  margin-top: 80px;
}

/*.portfolio-pgs-graphics{
transition: 100ms ease-in-out;
}

.portfolio-pgs-graphics:hover{
  transform: scale(1.2);  
  cursor: pointer;
}*/

.fade img:hover{
  transform: none;
}

/*image hover styles for graphics portfolio*/
  .contain {
    position: relative;    
      }

  .image {
    /*display: block;*/
    width: 100%;
    height: auto;
  }

  .overlay1 {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: .5s ease;
    background-color: var(--darker-purple-opacity);
  }

  .open-button{
    background-color: var(--lighter-purple);
    color: var(--darker-purple);
    width: fit-content;
    height: auto;
    padding: 10px 30px;
    font-family: 'Bakbak One', sans-serif;
    font-size: 20pt;
    border: none;
    border-radius: 20pt;
    box-shadow: 0px 5px 10px var(--darker-purple);
    transition: 0.2s ease-in-out;
  }
  .open-button:hover{
    background-color: var(--darker-purple);
    color: var(--lighter-purple);
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }

  div #seeDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: inherit;
  }


  .overlay {
    opacity: 1;
    cursor: pointer;
    color: var(--white);
    font-size: 20px;
    position: absolute;
    /* padding-top: 90px; */
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    height: 100%;
    width: 100%;      
    transition: .5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--darker-purple-opacity)
  }
    
  .text {
    color: var(--white);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;      
    transition: .5s ease;
    background-color: var(--darker-purple);
  }


#myBtn{
display: block;
text-decoration: none;
}

/* The Modal (background) */
  .graphics-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/*--------------------------------------------------------------Styles for  graphics popup modal*/
  /* Modal Content */
  .graphics-modal-content {
    background-color: var(--darker-purple);
    margin: auto;
    padding: 20px;
    border: none;
    border-radius: 10px;
    width: 85%;
  }

  /* The Close Button */
  .close {
    color: var(--languid-lavender);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  * {box-sizing:border-box}

  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

/*styles for gallery*/
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--languid-lavender);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: var(--darker-purple-opacity);
  }

  /* Caption text */
  /*.text {
    color: var(--white)smoke;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    text-shadow: 2px;
  }*/

  /* Number text (1/3 etc) */
  .numbertext {
    color: var(--languid-lavender);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--languid-lavender);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: var(--darker-purple);
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/* ------- END STYLES FOR GRAPHICS MODAL --------------- */

 /* vvvvvvvvvvvvvvvvvvv RELIC START vvvvvvvvvvvvvvvvvvvvvvvvvvv  */


  /* ^^^^^^^^^^^^^^^^^^^^^^^^^^ RELIC END ^^^^^^^^^^^^^^^^^^^^^^^^^^  */

 /* vvvvvvvvvvvvvvvvvvvvv MANIFOLD START VVVVVVVVVVVVVVVVVVVVVVVVV */

  .manifold-project h2{
    color: var(--fiery-rose)
  }

  .manifold-project a{
    color: var(--darker-purple);
    height: fit-content;
  }

  .manifold-project a:hover{
    transition: 0.2s ease-in-out;
    opacity: 35%;
    transform: translate(20px, 0px);
  }

 .manifold-posters{
  /* width: 100%; */
  /* display:flex;
  overflow: scroll;
  height: fit-content;*/  
 }

  .posters-container{
    height: 820px;
    display: flex;       
    overflow-x: auto;
    gap: 40px;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;   
  }

  .posters-container::-webkit-scrollbar {
    width: 20px;   
    
  }
  
  .posters-container::-webkit-scrollbar-track {    
    border-radius: 20px;
    box-shadow: inset 0 0 6px var(--black-8e);   
  }

  .posters-container::-webkit-scrollbar-thumb {
    background-color: var(--black-8e);
    border-radius: 20px;
  }

  .manifold-posters img{
    height: 800px;
    width: 100%;
    scroll-snap-align: center;
  }
  

  .manifold-social {
    margin: 80px 0px;
    /* border: solid 3px var(--fiery-rose);     */
    align-items: center;       
  }

  .manifold-social h2{    
    justify-self: right;
    margin-bottom: 50px;
  }

  .manifold-social a:hover{
    transition: 0.2s ease-in-out;
    opacity: 50%;
    transform: translate(20px, 0px);
  }
/* ------------------------  MANIFOLD END --------------------------------------  */

.portfolio-page{
  margin-top: 180px;
}


  /*------------------------------- VISUAL DESIGN SECTION END --------------------- */

  /*------------------------------- WEB DESIGN SECTION START---------------------------------------  */
  .web-design{
    margin: 12em 0px;
  }
  .web-design a:hover{
    transition: 0.2s ease-in-out;
    opacity: 50%;
  }



  .web-design h2{
    text-align: center;
  }

  .site-container,
  .games-container{
    margin: 170px 0px;
  }

  .games-container h2{
    color: var(--darker-purple);
  }

  .web-design-title{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* position: ; */
    /* background-image: url(../img/zion-website.png); */
    margin-bottom: 0;
  }

  .divider{  
    border: solid 1px var(--darker-purple);
    margin-bottom: 60px;
  }





  
#web-design-nav,
#visual-design-nav,
#illustration-nav {
  width: auto;
  height: 10em;
  position: fixed;
  right: 5em;
  z-index: 10;
  transition: 0.4s ease-in-out;
}

  .hidden{
    display: none;
  }

  .show{
    display: block;
    
  }

  .games-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* align-items: center; */
    /* background-color:; */
    width: 100%;
    font: var(--darker-purple);
    transition: 0.2s ease-in-out;
    padding: 0px 20px;
    text-align: center;
  }

  .games-list a{
    font-size: 16pt;
    font-family:sans-serif;
  }

  .games-list img{
    width: 300px;
    height: auto;
  
  }

  .games-list img:hover{
    -webkit-animation-name: turn;
    -webkit-animation-duration: 1000ms;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite; /* The magic keyword for infinite*/
     -webkit-animation-timing-function: linear;
     transition: 0.2s ease-in-out;
  }

     

@keyframes turn {
0% { -webkit-transform: translate(0px, 30px)  }
25%{ -webkit-transform: rotate(10deg);}
50% { -webkit-transform: translate(0px, -25px) }
75%{ -webkit-transform: rotate(-10deg);}
100% { -webkit-transform: translate(0px, 30px) }
         }

.games-list img#rocket:hover{
    -webkit-animation-name: launch;
    -webkit-animation-duration: 1000ms;
    /* -webkit-transform-origin:50% 50%; */
    -webkit-animation-iteration-count: infinite; /* The magic keyword for infinite*/
     -webkit-animation-timing-function: linear;
     transition: 0.2s ease-in-out;
  }

     

@keyframes launch {
0% { -webkit-transform: translate(0px)  }
25%{ -webkit-transform: translate(-10px) }
35% { -webkit-transform: translate(10px)  }
45%{ -webkit-transform: translate(-10px) }
50% { -webkit-transform: translate(10px)  }
65%{-webkit-transform: translate(0px);}
75%{ -webkit-transform: translate(0px, -30px) }
85% { -webkit-transform: translate(0px, -60px) }
100% { -webkit-transform: translate(0px, 0px) }
         }         


  
/* -------------------------------------WEB DESIGN SECTION END  */


/*----------------------------------PORTFOLIO END--------------------------------*/

/*--------------------------------------STYLES FOR POP-UP FORM MODAL------------------------------------------*/
/* * {
  box-sizing: border-box;
} */
.openBtn {
  display: flex;
  justify-content: center;
  align-items: center;     
}
.openButton {
  color: var(--languid-lavender);
  text-align: center;
  background-color: var(--no-opacity);
  border: solid 1px var(--languid-lavender);				
  padding: 10px 16px;
  /* margin: 7px 0px 0px;				 */
  border-radius: 30px;				
  transition: 0.2s ease-in-out;				
  position: relative;
  cursor: pointer;
  text-align: center;
  
}

.openButton-scroll {
  color: var(--white);
  text-align: center;
  background-color: var(--no-opacity);
  border: solid 1px var(--white);				
  padding: 10px 16px;
  /* margin: 7px 0px 0px;				 */
  border-radius: 30px;				
  transition: 0.2s ease-in-out;				
  position: relative;
  cursor: pointer;
  text-align: center;
  
}


.openButton:hover {
  color: var(--languid-lavender);
  text-align: center;
  background-color: var(--darker-purple);
  border: solid 1px var(--languid-lavender);				
  padding: 10px 20px;
  /* margin-top: 30px;				 */
  border-radius: 30px;				
  transition: 0.2s ease-in-out;				
  position: relative;
  cursor: pointer;
  text-align: center;
}

.loginPopup {
  position: relative;
  text-align: center;
  width: 100%;
transition: 0.5s ease-in;


}
.formPopup {
  color: var(--blue);
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 5%);
  border: 3px solid var(--blue);
  z-index: 9;
  transition: 0.5s ease-in;
  border-radius: 5px;
  width: fit-content;
height: 600px;	
margin-top: -20%;
overflow: scroll;
box-shadow: 0px 2px 10px var(--darker-purple);
}

.formContainer {
  max-width: auto;
  padding: 20px;
  background-color: var(--languid-lavender);
  border-radius: 5px;

}
.formContainer input[type=text],
.formContainer input[type=password],
.formContainer input[type=email],
.formContainer input[type=date],
.formContainer input[type=number],
/* .formContainer input[type=checkbox], */
.formContainer select {
  width: 100%;
  padding: 15px;
  margin: 5px 0 20px 0;
  border: none;
  border-radius: 100px;
  background: var(--white);

}
.formContainer input[type=text]:focus,
.formContainer input[type=password]:focus, 
.formContainer input[type=email]:focus
.formContainer input[type=date]:focus,
.formContainer input[type=number]:focus,
/* .formContainer input[type=checkbox]:focus, */
.formContainer select:focus {
  background-color: var(--white);
  outline: none;

}

.formContainer input[type="date"]:before {
content: attr(placeholder) !important;
/* color: #aaa; */
margin-right: 0.5em;
}
/* .formContainer input[type="date"]:focus:before,
.formContainer input[type="date"]:valid:before {
content: "";
}  */

.formContainer .btn {
  padding: 12px 20px;
  border: none;
  background-color: var(--darker-purple);
  color: var(--white);
  cursor: pointer;
  width: 100%;
  margin-bottom: 15px;
  opacity: 0.5;
  border-radius: 100px;
}

.formContainer h2{
font-size: 25px;
}


.formContainer .cancel {
  background-color: #cc0000;
}
.formContainer .btn:hover,
.openButton:hover {
  opacity: 1;
  transition: 0.2 ease-in-out;
}

/*---------------------------- End STYLES FOR POP-UP MODAL-------------------------------------- */

/* Manifold Posters ------------------------- */

.manifold-posters img{
  height: 600px;
  }

  .posters-container{
    height: 625px;
    }

    /* ILUUSTARTION STYLES START-----------------------------------------------  */
.illustration-container{
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  align-items: center;
  justify-content: center;
  margin: 300px 0px 300px;

}

.illustration-container img{
  width: 200px;
  height: 200px;
}

.illustration-images{
  
}

.wide-img img{
width: 100%;
}



    /* ILLUSTARTION STYLES END  ---------------------------------------*/



/* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv resume styles vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */
div div.resume{
  margin-top: 80px;
  text-align: center;
  align-content: center;
}



.download-resume-container{
  margin-top: 500px;
  display: flex;
  justify-content: center;
}

.download-resume{
  font-size: large;
  margin: 0 20px;
  color: var(--white);
  padding: 20px 60px;
  border-radius: 200pt;
  background: var(--fiery-rose);
   background: -moz-linear-gradient(45deg, var(--fiery-rose) 0%, var(--celadon-blue) 100%);
   background: -webkit-gradient(left bottom, right top, color-stop(0%, var(--fiery-rose)), color-stop(100%, var(--celadon-blue)));
   background: -webkit-linear-gradient(45deg, var(--fiery-rose) 0%, var(--celadon-blue) 100%);
   background: -o-linear-gradient(45deg, var(--fiery-rose) 0%, var(--celadon-blue) 100%);
   background: -ms-linear-gradient(45deg, var(--fiery-rose) 0%, var(--celadon-blue) 100%);
   background: linear-gradient(45deg, var(--fiery-rose) 0%, var(--celadon-blue) 100%);
   background-size: 400% 400%;
   -webkit-animation: errorBg 55s ease infinite;
   -moz-animation: errorBg 55s ease infinite;
   animation: errorBg 55s ease infinite;
   transition: 0.3s ease-in-out;
   text-decoration: none;
}


.download-resume:hover{
 background: var(--white);
 color: var(--darker-purple);
 border: solid 1px var(--darker-purple);
 transition: 0.3s ease-in-out;
}



/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ resume styles end ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^  */



/* NEW GALLERY STYLES  */

.new-gallery{
  width: 100%;
  display:flex;
  flex-direction: row;
  height: fit-content;
  margin: 0px 10px;
}

.accordion-img1{
  background-image: url(../img/MANIFOLD-social-media-template-01.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 250px;
  flex-grow: 1;
  transition: 0.5s ease-in-out;
  opacity: 0.4;
  filter:saturate(10%);  
}

.accordion-img2{
  background-image: url(../img/MANIFOLD-social-media-template-02.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 250px;
  flex-grow: 1;
  transition: 0.5s ease-in-out;
  opacity: 0.4;
  filter:saturate(10%);    
}

.accordion-img3{
  background-image: url(../img/MANIFOLD-social-media-template-03.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 250px;
  flex-grow: 1;
  transition: 0.5s ease-in-out;
  opacity: 0.4;
  filter:saturate(10%);     
}

.accordion-img1:hover,
.accordion-img2:hover,
.accordion-img3:hover{
flex-grow: 3;
 transition: 0.5s ease-in-out;
 opacity: 1;
cursor: pointer;
filter:none;

}

  /*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ end new gallery styles  */

  /* FOOTER STYLES vvvvvvvvvvvvvvvvvvvvvvvvvv  */



footer {
  text-align: center;
  margin-top: 100px;
}

footer ul{
  padding-top: -15px;
}
footer ul li{
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  
}

footer ul li img{
  width: 20px;
  height: auto;
  margin-top: 30px;
}

footer h2 {
  font-size: 22px;
  margin-bottom: 25px;
  width: 100%;
}

.right-alignment {
  text-align: right;
}



.footer a{
  margin-bottom: 30px;
}
.email-me-footer{
  font-size: large;
  margin: 20px 20px;
  color: var(--white);
  padding: 20px 60px;
  border-radius: 200pt;
  background: var(--fiery-rose);
   background: -moz-linear-gradient(45deg, var(--fiery-rose) 0%, var(--celadon-blue) 100%);
   background: -webkit-gradient(left bottom, right top, color-stop(0%, var(--fiery-rose)), color-stop(100%, var(--celadon-blue)));
   background: -webkit-linear-gradient(45deg, var(--fiery-rose) 0%, var(--celadon-blue) 100%);
   background: -o-linear-gradient(45deg, var(--fiery-rose) 0%, var(--celadon-blue) 100%);
   background: -ms-linear-gradient(45deg, var(--fiery-rose) 0%, var(--celadon-blue) 100%);
   background: linear-gradient(45deg, var(--fiery-rose) 0%, var(--celadon-blue) 100%);
   background-size: 400% 400%;
   -webkit-animation: errorBg 55s ease infinite;
   -moz-animation: errorBg 55s ease infinite;
   animation: errorBg 55s ease infinite;
   height: 100vh;
   transition: 0.3s ease-in-out;
   text-decoration: none;
}


.email-me-footer:hover{
 background: var(--white);
 color: var(--darker-purple);
 border: solid 1px var(--darker-purple);
 transition: 0.3s ease-in-out;
}



/*--------------------"Virtual slides" slideshow (swiperjs.com/demos)-----------------*/

.swiper {
        width: 72%;
        margin-top: 25px;
        overflow: hidden;
        background: transparent;
        height: auto;
        
        
      }

      
.swiper-slide {
        height: 80%;
        background: transparent;
        border-radius: 10px;
        overflow: hidden;
        text-align: center;
      }

.swiper img{
        height: auto;
       
       
      }




/* -----------------------------------MOBILE STYLES-------------------------------------------------------------------------------------------       */


@media only screen and (max-width: 600px) {
  body {
    width: 100%;
  }

  header{
    height: 1400px;
  }
  h2{
    font-size: 20pt;
  }

  .intro {
    display: flex;
  }
  
nav{
  position: fixed;
  }

nav ul li {
  padding-top: 10px;
}

.formPopup {
  color: var(--blue);
  display: none;
  position: fixed;
  left: 50vw;
  top: 20vh;
  transform: translate(-50%, 5%);
  border: 3px solid var(--blue);
  z-index: 9;
  transition: 0.5s ease-in;
  border-radius: 5px;
  width: 90%;
height: 600px;	
margin-top: -20%;
overflow: scroll;

}

.skillslist-intro{
  margin-top: -20px;
}

.graphics-modal-content {
  background-color: var(--darker-purple);
  margin: 20px 20px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  width: 85%;
}

.section-img{
  width: 250px;
  display:none;
}

.visual-design-bg{
  background-image: url(../img/visual-design-open.png);
  background-size:contain;
  background-position: center;
  background-repeat: none;
  height: 200px;
  transition: 0.5s ease-in-out;
  opacity: 0.8;
}
.web-design-bg{
  background-image: url(../img/web-design-open.png);
  background-size:contain;
  background-position: center;
  background-repeat: none;
  height: 200px;
  transition: 0.5s ease-in-out;
  opacity: 0.8;
  
}

.illustration-bg{
  background-image: url(../img/illustration-open.png);
  background-size:contain;
  background-position: center;
  background-repeat: none;
  height: 200px;
  transition: 0.5s ease-in-out;
  opacity: 0.8; 
}   

.new-gallery{
  width: 100%;
  display:flex;
  flex-direction: column;
  height: fit-content;
}

.relic-container{
  display: flex;
  flex-direction: column;
}

.relic-container a{
  text-align: center;
}

#relic-postcard:hover {
  box-shadow: 0px 2px 5px var(--darker-purple);
  cursor: pointer;
  padding: 0px;
  margin-top: 15px;
  margin-bottom: 15px;
  flex-grow: 2;   
  
  
  -webkit-animation-duration: 0;    
  -webkit-animation-iteration-count: 1; /* The magic keyword for infinite*/
  -webkit-animation-timing-function: linear;
   transition: 0.8s ease-in-out;
}

.games-list{
  padding: 0;
  /* justify-content: space-between; */
 
}

.games{
scale: 0.9;
}

.illustration-container{
  width: auto;
  margin-top: 150px;
  margin-right: 0;
  
}

.illustration-container img{
  width: 150px;
  height: 150px;
}

}



      